apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: quantumflow

resources:
  - namespace.yaml
  - configmap.yaml
  - secret.yaml
  - pvc.yaml
  - backend-deployment.yaml
  - frontend-deployment.yaml
  - backend-service.yaml
  - frontend-service.yaml
  - ingress.yaml
  - hpa.yaml

commonLabels:
  app.kubernetes.io/name: quantumflow
  app.kubernetes.io/version: "1.0.0"

